.serverless
node_modules/
yarn.lock
v103/src/__pycache__
Events
Events.zip
doc
doc.txt
pylint.cfg
package-lock.json
v2/src/sample.json
v2/src/event.json
Test.json
sample.json
launch.json
__pycache__
.vscode/**